---

services:
  db:
    image: docker.io/library/postgres:18-alpine
    restart: unless-stopped
    ports: 
     - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d postgres -U $${POSTGRES_USER}"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_USER: admin